.dropdown-menu{
    width: 200px; 
    position: absolute;
    top: 55px;
    list-style: none;
    text-align: start;
    display: grid !important;
}

.dropdown-menu li {
    display: block;
    background: #000;
    cursor: pointer;
    height: 40px; 
}

.dropdown-menu li a:hover {
    background: #5cabff;
    border-bottom: none !important;
}

.dropdown-menu .clicked{
    display: none;
}

.dropdown-link {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #fff;
    padding: 16px;
  }
